@{
    ViewData["Title"] = "Promoções";
}

<div class="container-fluid mx-auto ">

    <div class="container cardPromocao">

        <div class="card bg-warning">
            <img src="../img/natal.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h6 class="card-title">Promoção de Natal - Viagens Internacionais</h6>
                <p class="fw-bold m-0">Desconto de 30% - NATAL30 </p>
                <p>Um desconto de 30% para você e sua familia viagarem com o melhor preço no natal, aplique o Cupom <b>NATAL30</b> na pagina de pagamentos.</p>
            </div>
        </div>
    </div>

    <div class="container cardPromocao">

        <div class="card bg-warning">
            <img src="../img/natal.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h6 class="card-title">Promoção de Natal - Viagens Nacionais</h6>
                <p class="fw-bold m-0">Desconto de 45% - NATAL45 </p>
                <p>Um desconto de 45% para você e sua familia viagarem com o melhor preço no natal, aplique o Cupom <b>NATAL45</b> na pagina de pagamentos.</p>
            </div>
        </div>
    </div>

    <div class="container cardPromocao">
        <div class="card bg-warning">
            <img src="../img/novo.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h6 class="card-title">Promoção de Ano Novo - Viagens Internacionais</h6>
                <p class="fw-bold m-0">Desconto de 40% - NOVO40 </p>
                <p>Um desconto de 40% para você e sua familia viagarem com o melhor preço no novo ano que está por vim, aplique o Cupom <b>NOVO40</b> na pagina de pagamentos.</p>
            </div>
        </div>
    </div>

    <div class="container cardPromocao">

        <div class="card bg-warning">
            <img src="../img/novo.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h6 class="card-title">Promoção de Natal - Viagens Nacionais</h6>
                <p class="fw-bold m-0">Desconto de 50% - NOVO50 </p>
                <p>Um desconto de 50% para você e sua familia viagarem com o melhor preço no novo ano que está por vim, aplique o Cupom <b>NOVO50</b> na pagina de pagamentos.</p>
            </div>
        </div>
    </div>


    <div class="container cardPromocao">

        <div class="card bg-warning">
            <img src="../img/ferias.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h6 class="card-title">Promoção de Ferias - Viagens Internacionais</h6>
                <p class="fw-bold m-0">Desconto de 25% - FERIAS25 </p>
                <p>Um desconto de 25% para você e sua familia viagarem com o melhor preço nas ferias, aplique o Cupom <b>FERIAS25</b> na pagina de pagamentos.</p>
            </div>
        </div>
    </div>

    <div class="container cardPromocao">

        <div class="card bg-warning">
            <img src="../img/ferias.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h6 class="card-title">Promoção de Ferias - Viagens Nacionais</h6>
                <p class="fw-bold m-0">Desconto de 35% - FERIAS35 </p>
                <p>Um desconto de 35% para você e sua familia viagarem com o melhor preço nas ferias, aplique o Cupom <b>FERIAS35</b> na pagina de pagamentos.</p>
            </div>
        </div>
    </div>

    <div class="container cardPromocao">

        <div class="card bg-warning">
            <img src="../img/carnaval.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h6 class="card-title">Promoção de Carnaval - Viagens Internacionais</h6>
                <p class="fw-bold m-0">Desconto de 35% - CARNAVAL35 </p>
                <p>Se prepare para o carnaval com um desconto de 35% para você e sua familia viagarem com o melhor preço, aplique o Cupom <b>CARNAVAL35</b> na pagina de pagamentos.</p>
            </div>
        </div>
    </div>

    <div class="container cardPromocao">

        <div class="card bg-warning">
            <img src="../img/carnaval.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h6 class="card-title">Promoção de Carnaval - Viagens Nacionais</h6>
                <p class="fw-bold m-0">Desconto de 60% - CARNAVAL60 </p>
                <p>Se prepare para o carnaval com um desconto de 60% para você e sua familia viagarem com o melhor preço, aplique o Cupom <b>CARNAVAL60</b> na pagina de pagamentos.</p>
            </div>
        </div>
    </div>

</div>